@charset "UTF-8";
  body {
  text-align : center;
  margin :  0 auto;
  }
  .Login li{
  display : inline;
  float : right;
  line-height : 11px;
  margin-right :200px;
  margin-left:-175px;
  }
  .LoginFont {
  text-align : right;
  width : 22px;
  font-size: 13px;
  font-weight : bold;
  text-align : center;
  }
  .topMenu li{
  margin: 7px;
  display : inline;
  line-height : 0px;
  float : left;
  }
  .topMenuFont {
  font-size: 13px;
  font-weight : bold;
  text-align : center;
  }
  .nav li{
  margin: 7px;
  display : inline;
  line-height : 0px;
  float : left;
  margin-left :200px;
  margin-right :-175px;
  }
  .navFont {
  font-size: 15px;
  text-align : left;
  }
  .Title {
  float : left;
  font-size: 25px;
  font-weight : bold;	
  text-align : center;
  color : #2196f3;
  margin-left: 150px;
  }
  .menubarColor {
  width : 100%;
  height : 20px;
  color : blue;
  }
  header {
  width : 100%;
  height : 80px;
  border: 1px solid blue;
  }
  .nav {
  width : 100%;
  height : 50px;
  border: 1px solid blue;
  float: left;
  }
  .article1{
  width : 300px;
  height: 300px;
  float : left;
  border: 1px solid blue;
  margin-top : 5px;
  margin-left :222px;
  }
  .article2{
  width : 300px;
  height: 300px;
  float : left;
  border: 1px solid blue;
  margin-top : 5px;
  margin-left :73px;
  }
  .article3{
  width : 300px;
  height: 300px;
  float : left;
  border: 1px solid blue;
  margin-top : 5px;
  margin-left :82px;
  }
  .article4{
  width : 300px;
  height: 300px;
  float : left;
  border: 1px solid blue;
  margin-top : 5px;
  margin-left :82px;
  }
  .footer{
  width : 100%;
  height : 520px;
  float : left;
  margin-top : 20px;
  line-height : 30px;
  background-image:url("img/_bg.jpg");
  background-repeat:repeat-x;
  }
  .footer[id=slogan]{
  width : 300px;
  height : 150px;
  float : left;
  margin-top : 120px;
  margin-left: 150px;
  background: transparent;
  color: white;
  font-size: 13px;
  }
  .footer[id=contact]{
  width : 500px;
  height : 150px;
  clear : both;
  margin-left: 150px;
  background: transparent;
  color: gray;
  font-size: 11px;
  }
  #bodybox{
  width:1000px;
  margin: 0 auto;
  }
  .layout{
  border: 1px solid blue;
  float:left;
  }
  .layout[id=search]{
  width:905px;
  height:400px;
  margin:20px;
  }
  .layout[id=contents]{
  width:290px;
  height:280px;
  margin-left:30px;
  margin-right:-5px;
  margin-top:15px;
  }
  .layout[id=contentsimg]{
  width:290px;
  height:140px;
  }
  .layout[id=contentstable]{
  width:270px;
  height:120px;
  padding: 10px;
  line-height: 30px;
  border-radius: 0 0 30px 30px;
  background-color:#f5f5f5;
  overflow: hidden;
  clear: both;
  }
  .language{
  font-size:12px;
  }
  .studytitle{
  width:270px
  line-height: 20px;
  font-size:20px;
  overflow: hidden;
  }
  .studyday{
  font-size:15px;
  }
  .membernow{
  font-size:12px;
  }
  .pagenation{
  width:580px;
  margin: 0 auto;
  padding: 50px;
  clear: both;
  }
  h1{
  font-family:Verdana;
  text-align:center;
  color: white;
  }
  .notice{
  font-family:Verdana;
  font-size:12px;
  color: white;
  }
  #box1{
  width:800px;
  padding:25px;
  border-radius:30px;
  margin-top:30px;
  background-color:#f5f5f5;
  }
  #box1[name=detail]{
  width:750px;
  padding:25px;
  border-radius:30px;
  margin-top:30px;
  background-color:#f5f5f5;
  float: left;
  }
  #box2{
  width:max;
  padding:25px;
  border-radius:30px;
  margin:30px;
  background-color:#f5f5f5;
  box-align:bottom;
  }
  #boxfloating{
  position:fixed;
  width:120px;
  padding:25px 5px 25px 5px;
  border-radius:30px;
  margin: 30px 300px 0 0;
  background-color:#f5f5f5;
  float : right;
  position:fixed;
  right: 100px;
  top: 86px;
  }
  #blank{
  height: 50px;
  float : right;
  }
  select[name="hint"]{
  height:30px;
  width:300px;
  }
  input[type="text"],input[type="password"]{
  background-color:white;
  border:0px;
  border-radius:20px;
  height:30px;
  }
  input[type="button"]{
  background-color:#ff502f;
  border:0px;
  border-radius:20px;
  height:30px;
  font-family:Verdana;
  color:white;
  font-weight:bold;
  }
  input[type="button2"]{
  background-color:#ff502f;
  border-radius:20px;
  height:30px;
  width: 100%;
  font-family:Verdana;
  color: white;
  font-weight:bold;
  text-align:"center";
  }
  textarea{
  background-color:white;
  border:0px;
  border-radius:20px;
  height:120px;
  padding:25px;
  }
  tr,td{
  text-align:"center";
  color:#004d61;
  font-family:Verdana;
  }